In [10]:
import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(r'C:\Users\sonye\Documents\CODING DOJO\df_base.csv')

# Ahora puedes trabajar con el DataFrame 'df'

In [2]:
df

,summary,industryName,locationName,student,location,headline,experience,education,certifications,projects,skills
0,"Actualmente cursando un máster de Big Data, mi...",Computer Software,Peru,False,{'basicLocation': {'countryCode': 'pe'}},AWS Community Builders/ AWS Certified Solution...,[{'entityUrn': 'urn:li:fs_position:(ACoAAB9JbJ...,[{'entityUrn': 'urn:li:fs_education:(ACoAAB9Jb...,"[{'authority': 'Amazon Web Services (AWS)', 'n...",[],"[{'name': 'Análisis de datos'}, {'name': 'Amaz..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         1 non-null      object
 1   industryName    1 non-null      object
 2   locationName    1 non-null      object
 3   student         1 non-null      bool
 4   location        1 non-null      object
 5   headline        1 non-null      object
 6   experience      1 non-null      object
 7   education       1 non-null      object
 8   certifications  1 non-null      object
 9   projects        1 non-null      object
 10  skills          1 non-null      object
dtypes: bool(1), object(10)
memory usage: 213.0+ bytes

In [12]:
# Codificar variables categóricas utilizando One-Hot Encoding
df_encoded = pd.get_dummies(df, columns=['industryName', 'locationName'])

# Mostrar las primeras filas del DataFrame codificado
print(df_encoded.head())

                                             summary  student  \
0  Actualmente cursando un máster de Big Data, mi...    False

                                   location  \
0  {'basicLocation': {'countryCode': 'pe'}}

                                            headline  \
0  AWS Community Builders/ AWS Certified Solution...

                                          experience  \
0  [{'entityUrn': 'urn:li:fs_position:(ACoAAB9JbJ...

                                           education  \
0  [{'entityUrn': 'urn:li:fs_education:(ACoAAB9Jb...

                                      certifications projects  \
0  [{'authority': 'Amazon Web Services (AWS)', 'n...       []

                                              skills  \
0  [{'name': 'Análisis de datos'}, {'name': 'Amaz...

   industryName_Computer Software  locationName_Peru
0                            True               True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   summary                         1 non-null      object
 1   student                         1 non-null      bool
 2   location                        1 non-null      object
 3   headline                        1 non-null      object
 4   experience                      1 non-null      object
 5   education                       1 non-null      object
 6   certifications                  1 non-null      object
 7   projects                        1 non-null      object
 8   skills                          1 non-null      object
 9   industryName_Computer Software  1 non-null      bool
 10  locationName_Peru               1 non-null      bool
dtypes: bool(3), object(8)
memory usage: 199.0+ bytes